# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Django
db.sqlite3
*.sqlite3
media/

# Environment Variables
.env

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# Mac
.DS_Store

# Compiled files
*.pyc